*{
    margin:0;
    padding:0;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    padding: 0 2%;
}

html,body{
    padding: 20px 0;
}

header{
    height: 200px;
    padding: 20px 0;

}

.logo1{
    width: 20px;
}
 
section.sobre{
    height: calc(100%-200px);
    position: relative;
}

.sad{
    padding: auto;
    color: blue;
}